<div class="container mt-3">
  <div class="card">
    <div class="card-header">
      <div class="row">
        <div class="col-12">
          <h4 class="text-center">Student List</h4>
        </div>
      </div>
    </div>
    <div class="card-body">
      <div class="col-12">
        <div class="container">
          <table class="table table-striped">
            <thead class="bg-primary">
              <tr>
                <th>ID</th>
                <th>Student Name</th>
                <th>Email</th>
                <th>Registered Courses</th>
                <th>Total Courses Amount</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>1</td>
                <td>Steve</td>
                <td>steve@gmail.com</td>
                <td>3</td>
                <td>500000</td>
              </tr>
              <tr>
                <td>2</td>
                <td>Kawasaki</td>
                <td>ka@gmial.com</td>
                <td>1</td>
                <td>10000</td>
              </tr>
              <tr>
                <td>3</td>
                <td>Webston</td>
                <td>web@gmail.com</td>
                <td>2</td>
                <td>400000</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
