<div class="container shadow">
  <div class="row">
    <div class="" *ngFor="let course of courses">
      <div class="border-bottom shadow-sm">
        <div class="row bg-white-subtle mt-3">
          <div class="col-md-3">
            <img
              src="{{ course.imageUrl }}"
              class="img-fluid w-100 card-img-top"
              alt="No Image"
            />
          </div>
          <div class="col-md-7">
            <div class="row p-sm-3">
              <p class="fw-bold">{{ course.courseTitle }}</p>
              <p>&nbsp;&nbsp;&nbsp;{{ course.descricption }}</p>
            </div>
            <div class="row">
              <div
                class="d-flex justify-content-between mb-3 col-sm-10 mx-sm-auto"
              >
                <a
                  ><span class="btn btn-sm btn-dark rounded-0 text-white"
                    >Price :</span
                  ><span class="btn btn-secondary rounded-0 btn-sm"
                    >${{ course.price }}</span
                  >
                </a>
                <a
                  [routerLink]="['/anonymous/coursedetails']"
                  class="btn btn-sm btn-info rounded-0"
                  style="height: 30px"
                  >Details</a
                >
              </div>
            </div>
          </div>
          <div class="col-md-2 mt-md-5 col-sm-3 mx-sm-auto mb-sm-2">
            <div class="text-center mt-md-3">
              <p class="pe-3">4.5K</p>
            </div>
            <div class="d-flex text-warning justify-content-evenly">
              <i class="bi bi-star"></i>
              <i class="bi bi-star"></i>
              <i class="bi bi-star"></i>
              <i class="bi bi-star"></i>
              <i class="bi bi-star"></i>
            </div>
          </div>
          <div class="p-3">
            <div class="d-flex justify-content-between">
              <a class="btn btn-outline-info" routerLink="/teacher/coursemodule"
                >Check</a
              >

              <a
                class="btn btn-outline-info"
                data-bs-toggle="modal"
                data-bs-target="#courseModal"
                >Add Module</a
              >
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Modal -->
<div
  class="modal fade"
  id="courseModal"
  tabindex="-1"
  aria-labelledby="la"
  aria-hidden="true"
>
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="la">Add Module</h5>

        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Close"
        ></button>
      </div>
      <div class="modal-body">
        <form [formGroup]="moduleForm">
          <div class="form-group mb-2">
            <label for="ch"> Chapter No. </label>
            <input
              formControlName="chapter"
              type="text"
              class="form-control"
              id="ch"
              placeholder="Chapter No."
            />
          </div>
          <div class="form-group mb-2">
            <label for="title"> Title </label>
            <input
              formControlName="title"
              type="text"
              class="form-control"
              id="title"
              placeholder="Title"
            />
          </div>
          <div class="form-group mb-2">
            <label for="lec"> Your Lecture </label>
            <textarea
              formControlName="lecture"
              type="text"
              class="form-control file-upload"
              id="lec"
              placeholder="Your Lecture Here!"
            ></textarea>
          </div>
          <div class="modal-footer">
            <button
              type="button"
              class="btn btn-secondary"
              data-bs-dismiss="modal"
            >
              Close
            </button>
            <button
              type="submit"
              class="btn btn-primary"
              [class.disabled]="!moduleForm.valid"
              data-bs-dismiss="modal"
              (click)="add()"
            >
              Upload
            </button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>

<!-- Lorem ipsum dolor sit amet, consectetur adipisicing elit. Earum quaerat praesentium tempora quisquam repellat accusamus quo odio, velit recusandae officia! Pariatur earum at alias doloribus tempore. Nemo provident nulla reiciendis est corrupti. Enim tempore reiciendis delectus, suscipit fugit commodi pariatur quidem explicabo placeat? Cum, sequi! -->
