<div class="card mb-3 bg-secondary-subtle rounded-1">
  <div class="card-item">
    <h5 class="card-title text-center">{{course.name}}</h5>
    <img class="img-fluid w-100 card-img-top" [src]="course.image || '/assets/images/course-cover.jpg'" alt="">
    <p class="card- title text-center">Chat Kyi</p>


      <p class="card- title text-center">$40</p>
      <div class="card-footer d-flex justify-content-between">
        <a [routerLink]="['/anonymous/course-item']" class="btn btn-link">details</a>
      <button class="btn btn-outline-primary btn-sm">purchase</button>
      </div>
    </div>

    </div>




