<div class="container">
  <div class="row mt-3">
    <div class="col-4">
      <div class="card">
        <img
          src="/assets/images/course-cover.jpg"
          alt="Java Programming Language"
        />
        <h1>Java Programming Language</h1>
        <p class="price">$19.99</p>
        <p>
          <b>Java</b>a high-level, class-based, object-oriented programming
          language that is designed to have as few implementation dependencies
          as possible.
        </p>
        <button
          type="button"
          class="btn btn-primary"
          routerLink="/student/learningpage"
        >
          Learn
        </button>
      </div>
    </div>
    <div class="col-4">
      <div class="card">
        <img
          src="/assets/images/course-cover.jpg"
          alt="Java Programming Language"
        />
        <h1>Java Programming Language</h1>
        <p class="price">$19.99</p>
        <p>
          <b>Java</b>a high-level, class-based, object-oriented programming
          language that is designed to have as few implementation dependencies
          as possible.
        </p>
        <button
          type="button"
          class="btn btn-primary"
          routerLink="/student/learningpage"
        >
          Learn
        </button>
      </div>
    </div>
    <div class="col-4">
      <div class="card">
        <img
          src="/assets/images/course-cover.jpg"
          alt="Java Programming Language"
        />
        <h1>Java Programming Language</h1>
        <p class="price">$19.99</p>
        <p>
          <b>Java</b>a high-level, class-based, object-oriented programming
          language that is designed to have as few implementation dependencies
          as possible.
        </p>
        <button
          type="button"
          class="btn btn-primary"
          routerLink="/student/learningpage"
        >
          Learn
        </button>
      </div>
    </div>
  </div>

  <div class="row mt-3">
    <div class="col-4">
      <div class="card">
        <img
          src="/assets/images/course-cover.jpg"
          alt="Java Programming Language"
        />
        <h1>Java Programming Language</h1>
        <p class="price">$19.99</p>
        <p>
          <b>Java</b>a high-level, class-based, object-oriented programming
          language that is designed to have as few implementation dependencies
          as possible.
        </p>
        <button
          type="button"
          class="btn btn-primary"
          routerLink="/student/learningpage"
        >
          Learn
        </button>
      </div>
    </div>
    <div class="col-4">
      <div class="card">
        <img
          src="/assets/images/course-cover.jpg"
          alt="Java Programming Language"
        />
        <h1>Java Programming Language</h1>
        <p class="price">$19.99</p>
        <p>
          <b>Java</b>a high-level, class-based, object-oriented programming
          language that is designed to have as few implementation dependencies
          as possible.
        </p>
        <button
          type="button"
          class="btn btn-primary"
          routerLink="/student/learningpage"
        >
          Learn
        </button>
      </div>
    </div>
    <div class="col-4">
      <div class="card">
        <img
          src="/assets/images/course-cover.jpg"
          alt="Java Programming Language"
        />
        <h1>Java Programming Language</h1>
        <p class="price">$19.99</p>
        <p>
          <b>Java</b>a high-level, class-based, object-oriented programming
          language that is designed to have as few implementation dependencies
          as possible.
        </p>
        <button
          type="button"
          class="btn btn-primary"
          routerLink="/student/learningpage"
        >
          Learn
        </button>
      </div>
    </div>
  </div>
</div>
