

  <title>Login Form</title>

  <style>
    /* Add some custom styling if needed */
    body {
      background-color: #f2f2f2;
    }

    .container {
      max-width: 400px;
      margin-top: 100px;
    }
    /* .signin{
      background: var(--primary);
      color: #0000ff;
      padding: 15px;
    } */
  </style>

<body>
  <div class="container">
    <h2 class="text-center">Login Form</h2>
    <!-- <form>
      <div class="form-group">
        <label for="email">Email</label>
        <input type="text" class="form-control" id="email" placeholder="Enter your email" required>
      </div>

      <div class="form-group">
        <label for="password">Password</label>
        <input type="password" class="form-control" id="password" placeholder="Enter your password" required>
      </div>

      <a href="">forgot password</a>

      <div class="d-flex justify-content-center my-2">
      <button type="submit" id="signin" class="btn btn-primary">Login</button>
    </div>
    </form> -->
    <form [formGroup]="form">

      <app-form-group [valid]="form.get('email')!.valid" label="Email Address">
        <input formControlName="email" type="email" class="form-control" placeholder="Enter your email">
      </app-form-group>

      <app-form-group [valid]="form.get('password')!.valid" label="Password" >
        <input formControlName="password" type="password" placeholder="Enter Password" class="form-control">
      </app-form-group>

      <button [class.disabled]="!form.valid" type="button" (click)="signIn()" class="btn btn-outline-success">
        <i class="bi bi-unlock"></i> Sign In
      </button>
    </form>

  </div>


