<div class="container">
  <h3 class="text-center">Profile</h3>
  <h4 class="text-center text-secondary">
    Welcome From EDUBRIDGE. You are now One of Our Members.
  </h4>

  <img
    src="/assets/images/profile.jpg"
    alt="Profile"
    class="rounded-circle img-thumbnail mt-5 mx-auto d-block"
    style="width: 200px; height: 200px"
  />
  <div class="container shadow mt-5 border border-4">
    <h4 class="text-center">About ME</h4>
    <!-- Educational background -->
    <p class="text-center mt-2">
      I am an allround web developer. <br />
      I am a senior programmer with good knowledge of front-end techniques.
      <br />
      Vitae sapien pellentesque habitant morbi tristique senectus et. <br />
      Aenean sed adipiscing diam donec adipiscing tristique risus.
    </p>
  </div>
  <div class="text-center mt-3">
    <h4>Details</h4>
    <!--take from service databinding -->
    <h6><b>Name</b></h6>
    <p>Thomas William</p>
    <h6><b>Email</b></h6>
    <p>thomas@gmail.com</p>
    <h6><b>Phone Number</b></h6>
    <p>+95 557-255-65</p>
    <p>
      <i class="bi bi-facebook me-2"></i> <i class="bi bi-twitter me-2"></i>
      <i class="bi bi-instagram me-2"></i>
    </p>
  </div>
</div>
