<div class="container">
  <div class="row">
    <div
      class="container-fluid position-relative"
      style="
        background-image:url(../../../../assets/images/WashingtonElementary.png);
        opacity: 0.7;
        height: 400px;
      "
    >
      <div class="text-white fw-bold text-opacity-100">
        <div
          class="position-absolute top-50 start-0 translate-middle-y ms-md-5"
        >
          <h3 class="mb-2">Java Basic to Advance Program</h3>
          <p class="mb-2">Computer Science</p>
          <span class="mb-2"
            >Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptas ,<br>
            minus accusantium odit? Voluptas velit dicta quas fugiat obcaecati
            cumque ratione?</span
          >
        <div class="d-flex text-white-subtle mt-5 mb-5">
          <span class="me-2"><i class="bi bi-clock"></i>2023-06-15 </span>
          <span class="me-2"><i class="bi bi-book"></i>90 lesson</span>
          <span class="me-2"><i class="bi bi-cash-stack"></i>100000 KS</span>
        </div>
          <div class="d-flex text-warning mb-3">
            <i class="bi bi-star-fill"></i>
            <i class="bi bi-star-fill"></i>
            <i class="bi bi-star-fill-half"></i>
            <i class="bi bi-star"></i>
            <i class="bi bi-star"></i>
            <p class="fst-itallic">4.5K</p>
          </div>
          <div class="">
            <button class="btn btn-warning border-0 m-2">Teacher Detail</button>
            <button class="btn btn-warning border-0 m-2">
              <i class="bi bi-cash-stack"></i>Cash
            </button>
          </div>
        </div>
      </div>

    </div>
  </div>
  <div class="row">
    <h3 class="mt-md-4 p-3 border-bottom shadow-sm">Coure Description</h3>
    <p>
      What is Java? Java is a widely-used programming language for coding web
      applications. It has been a popular choice among developers for over two
      decades, with millions of Java applications in use today. Java is a
      multi-platform, object-oriented, and network-centric language that can be
      used as a platform in itself. It is a fast, secure, reliable programming
      language for coding everything from mobile apps and enterprise software to
      big data applications and server-side technologies. What is Java
      programming language used for? What is Java programming language used for?
      Because Java is a free-to-use and a versatile language, it builds
      localized and distributed software. Some common uses of Java include: 1.
      Game Development Many popular mobile, computer, and video games are built
      in Java. Even modern games that integrate advanced technology like machine
      learning or virtual reality are built with Java technology. 2. Cloud
      computing Java is often referred to as WORA – Write Once and Run Anywhere,
      making it perfect for decentralized cloud-based applications. Cloud
      providers choose Java language to run programs on a wide range of
      underlying platforms. 3. Big Data Java is used for data processing engines
      that can work with complex data sets and massive amounts of real-time
      data. 4. Artificial Intelligence Java is a powerhouse of machine learning
      libraries. Its stability and speed make it perfect for artificial
      intelligence application development like natural language processing and
      deep learning. 5. Internet of Things Java has been used to program sensors
      and hardware in edge devices that can connect independently to the
      internet.
    </p>
  </div>
</div>
